{% extends 'base.html' %}

{% block content %}
<header class="bg-dark py-1">
            <div class="container px-4 px-lg-5 my-4">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">فروشگاه جاندار</h1>
                    <p class="lead fw-normal text-white-50 mb-0">ورود به حساب کاربری</p>
                </div>
            </div>
</header>
  <div class="style-form">
      <br><br><br>
      <form method="post">
          {% csrf_token %}
          <h2 class="text-center">ورود</h2>
          <div class="form-group">
              <input type="text" name="username" class="form-control" placeholder="نام کاربری" required="required">
          </div>
          <div class="form-group">
              <input type="text" name="email" class="form-control" placeholder="ایمیل" required="required">
          </div>
          <div class="form-group">
              <input type="password" name="password" class="form-control" placeholder="رمز عبور" required="required">
          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-primary">ورود</button>
          </div>
           <div class="clearfix">
                <a href="{% url 'password_reset' %}" class="float-right">رمز عبور را فراموش کرده اید؟</a>
            </div>
      </form>
      <p class="text-center"><a href="{% url 'signup' %}">ایجاد حساب</a></p>
      <br><br><br>
  </div>

{% endblock %}
