{% extends 'base.html' %}

{% block content %}

     <header class="bg-dark py-2">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">درباره ما</h1>
                    <p class="lead fw-normal text-white-50 mb-0">داستان ما</p>
                </div>
            </div>
     </header>
    <br><br>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-10">
                    <p align="justify">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deserunt eaque reiciendis vitae! Aperiam assumenda consequuntur distinctio dolore ea eos eum excepturi facere illum molestias, officia, optio repudiandae sapiente voluptatum?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deserunt eaque reiciendis vitae! Aperiam assumenda consequuntur distinctio dolore ea eos eum excepturi facere illum molestias, officia, optio repudiandae sapiente voluptatum?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deserunt eaque reiciendis vitae! Aperiam assumenda consequuntur distinctio dolore ea eos eum excepturi facere illum molestias, officia, optio repudiandae sapiente voluptatum?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deserunt eaque reiciendis vitae! Aperiam assumenda consequuntur distinctio dolore ea eos eum excepturi facere illum molestias, officia, optio repudiandae sapiente voluptatum?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deserunt eaque reiciendis vitae! Aperiam assumenda consequuntur distinctio dolore ea eos eum excepturi facere illum molestias, officia, optio repudiandae sapiente voluptatum?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deserunt eaque reiciendis vitae! Aperiam assumenda consequuntur distinctio dolore ea eos eum excepturi facere illum molestias, officia, optio repudiandae sapiente voluptatum?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deserunt eaque reiciendis vitae! Aperiam assumenda consequuntur distinctio dolore ea eos eum excepturi facere illum molestias, officia, optio repudiandae sapiente voluptatum

                    </p>
                </div>
            </center>
        </div>
    </div>
    <br><br>

{% endblock %}