{% extends 'account/profile_base.html' %}

{% block profile_content %}

<header class="bg-dark py-1">
            <div class="container px-4 px-lg-5 my-4">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">فروشگاه جاندار</h1>
                    <p class="lead fw-normal text-white-50 mb-0">تغییر رمز عبور</p>
                </div>
            </div>
</header><br>

<h6>تغییر رمز عبور</h6>
<hr>
<div class="style-form">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <input name="old_password" placeholder="رمز عبور سابق" type="password" required="true">
        </div>
        <div class="form-group">
          <input name="new_password1" placeholder="رمز عبور جدید" type="password" required="true">
        </div>
        <div class="form-group">
          <input name="new_password2" placeholder="تایید رمز عبور" type="password" required="true">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">به روز رسانی</button>
      </div>
    </form>
</div><br><br><br><br><br>



{% endblock %}