{% extends 'account/profile_base.html' %}

{% block content %}

<header class="bg-dark py-1">
            <div class="container px-4 px-lg-5 my-4">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">فروشگاه جاندار</h1>
                    <p class="lead fw-normal text-white-50 mb-0">بازیابی رمز عبور</p>
                </div>
            </div>
</header><br>

<div class="style-form">
    <form method="post">
        {% csrf_token %}
        <h2 class="text-center">بازیابی رمز عبور</h2>
        <div class="form-group">
          <input name="email" placeholder="ایمیل" type="email" required="true" >
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">ارسال ایمیل بازیابی</button>
        </div>        
    </form>
</div>

{% endblock %}