{% extends 'base.html' %}

{% block content %}
<header class="bg-dark py-1">
            <div class="container px-4 px-lg-5 my-4">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">فروشگاه جاندار</h1>
                    <p class="lead fw-normal text-white-50 mb-0">ارسال ایمیل بازیابی</p>
                </div>
            </div>
</header><br>

<div class="container">

	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
		    برای شما ایمیلی ارسال شده است، لطفا برای ادامه ی فرایند بازیابی رمز عبور روی لینک مربوطه کلیک نمایید
		  </p>
		  <p class="m-auto p-2">
		    اگر ایمیلی دریافت نکردید لطفا مجددا درستی ایمیل وارد شده را بررسی نمایید
		  </p>
		  <p class="m-auto p-2"><a href="{% url 'home' %}">بازگشت به صفحه اصلی</a></p>
	</div>
</div>

{% endblock %}