{% extends 'base.html' %}
{% load static %}
{% load humanizelib %}

{% block content %}
<header class="bg-dark py-2">
            <div class="container px-4 px-lg-5 my-2">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">سبد خرید</h1>
                    <p class="lead fw-normal text-white-50 mb-0">جزئیات خرید</p>
                </div>
            </div>
</header>

<main class="page ">
    <section class="shopping-cart dark ">
        <div class="container-shopping-cart px-4 px-lg-1">
            <div class="content">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="items">

                            {% for item in cart_items %}
                                <div class="product">
                                    <div class="row product_data">
                                        <div class="col-md-3">
                                            <img class="img-fluid mx-auto d-block image" src="{{ item.product.image.url }}">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="info">
                                                <div class="row">
                                                    <div class="col-md-5 product-name">
                                                        <div class="product-name">
                                                            <a href="{% url 'detail' item.product.id %}">{{ item.product.title }}</a>
                                                            {% comment %} <div class="product-info">
                                                                <div>Display: <span class="value">5 inch</span></div>
                                                                <div>RAM: <span class="value">4GB</span></div>
                                                                <div>Memory: <span class="value">32GB</span></div>
                                                            </div> {% endcomment %}
                                                        </div>
                                                    </div>
                                                    <input type='hidden' class='prod_id' value="{{ item.product.id }}">
                                                        {% csrf_token %}

                                                        {% if item.product.quantity >= item.quantity %}
                                                        <div class="col-md-4 quantity">

                                                            <label for="quantity">Quantity:{{ item.quantity }}</label>

                                                            <div class="input-group text-center mb-3">

                                                                <button class="input-group-text changeQuantity update-cart" data-action="remove" data-product="{{ item.product.id }}">-</button>

                                                                <input type="text" name="quantity" class="form-control qty-input text-center" value="{{ item.quantity }}">

                                                                <button class="input-group-text changeQuantity update-cart" data-action="add" data-product="{{ item.product.id }}">+</button>

                                                            </div>

                                                            {% else %}
                                                                <h6>ناموجود!</h6>
                                                            {% endif %}

                                                        </div>

                                                    <div class="col-md-3 price">
                                                            {% if item.product.is_sale %}
                                                                <span class="text-muted text-decoration-line-through">{{ item.product.price | intcomma}} ریال</span><br>
                                                                <span>{{ item.product.sale_price | intcomma }}ریال</span>
                                                            {% else %}
                                                                <span>{{ item.product.price | intcomma }}ریال</span>
                                                            {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}

                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 px-lg-2">
                        <div class="summary">
                            <h3>مجموع خرید</h3>
                            <div class="summary-item"><span class="text">تعداد محصولات</span><span class="price">{{ cart_total }}</span></div>
                            <div class="summary-item"><span class="text">مبلغ کل</span><span class="price">{{total_price | intcomma}} ریال</span></div>
                            <br><a  class="btn btn-primary btn-lg btn-block">پرداخت</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="{% static 'main/js/cart.js' %}" type="text/javascript"></script>
{% endblock %}