{% extends "base.html" %}
{% load humanizelib %}
{% load static %}

{% block content %}


<header class="bg-dark py-2">
            <div class="container px-4 px-lg-5 my-2">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">فروشگاه جاندار</h1>
                    <p class="lead fw-normal text-white-50 mb-0">جزئیات محصول</p>
                </div>
            </div>
</header>
    <div class="container px-4 px-lg-5 mt-5">
       <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{product.title}}</h5>
                <p class="card-text">{{product.description}}</p>
                {% if product.is_sale %}
                  <span class="text-muted text-decoration-line-through">قیمت: {{ product.price | intcomma}} ریال</span><br>
                  قیمت: {{ product.sale_price | intcomma}} ریال
                {% else %}
                  <p class="card-text">قیمت: {{product.price | intcomma}} ریال</p>
                {% endif %}
                  <br><br><a class="btn btn-success btn-rounded" href="{% url 'add-to-cart' product.id %}">افزودن به سبد خرید</a>
                <br><br>

              <a class="btn btn-primary btn-rounded" href="{% url 'home' %}">بازگشت به صفحه اصلی</a>
              </div>
            </div>
          </div>
       </div>
    </div>
<br><br>

{% endblock content %}
